.lead {
	&-small {
		font-size: 1.7rem;
	}
	text-align: justify;
}

.display-4 {
	overflow: visible;
}

.text-minor {
	text-align: justify;
}

.btn {
	margin-left: 2rem;

	&:last-child {
		margin-left: 0;
	}
}