<div class="jumbotron">
	<h1 class="display-4">ברוכים הבאים לתחרות בחירת השמות</h1>
	<p>של העובר של מיכל. מיכל הסכימה שהשם שייבחר באמצעות הקהילה הנאמנה יהיה השם השני של התינוק. כמו כן, היא תיתן למציע השם פלייסטישן ארבע ותמנה אותו סנדק</p>
	<hr class="my-4">
	<p class="lead lead-small">תנו כבוד לקהילה שלכם ואהבה לתינוק. התחרות תיארך ב2 שלבים, בשלב הראשון יוצעו שמות באופן חופשי וכולם יוכלו להצביע, שלושה ימים לאחר הלידה, האתר ייפתח שוב להצבעה על השמות שעלו לגמר.</p>
	<a class="btn btn-primary btn-lg" routerLink="discover" role="button">בואו להצביע</a>
	<a class="btn btn-primary btn-lg" routerLink="new-name" role="button">הציעו שם משלכם</a>
</div>