@import './../../../scss/abstract/variables';

.bg-main {
	padding: 3rem;
	font-size: 120%;

	@media (max-width: map-get($grid-breakpoints, sm)) {
		padding: 1.3rem;
	}
}

.display-4 {
	overflow: visible;
}