@import './../../../scss/abstract/variables';

abe-header {
  nav {
    width: 100%;
	@media (min-width: map-get($grid-breakpoints, sm)) {
		width: 80%;
	}
  }
}

.bg-main {
	padding: 3rem;

	@media (max-width: map-get($grid-breakpoints, sm)) {
		padding: 1.3rem;
	}
}