<p>
	{{info}}
</p>
<button (click)="addEvent('general-click', 'general', 'click')">Click</button>
<div class="container content">
	<!-- container centers content on large screens -->
	<div class="row">
		<!-- responsive row has 12 columns by default -->
		<div class="col-md-6">
			<!-- uses 6 columns on medium and larger screens... -->
			<div class="alert alert-primary">
				<div class="col-md-6">
					<!-- uses 6 columns on medium and larger screens... -->
					<div class="alert alert-primary">
						jjksjss
						<fa-icon [icon]="faCoffee"></fa-icon>
					</div>
				</div>
				<div class="col-md-6">
					<!-- uses 6 columns on medium and larger screens... -->
					<div class="alert alert-primary">
						jjksjss
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<!-- uses 6 columns on medium and larger screens... -->
			<div class="alert alert-primary">
				<div class="col-md-6">
					<!-- uses 6 columns on medium and larger screens... -->
					<div class="alert alert-primary">
						jjksjss
					</div>
				</div>
				<div class="col-md-6">
					<!-- uses 6 columns on medium and larger screens... -->
					<div class="alert alert-primary">
						jjksjss
					</div>
				</div>
			</div>
		</div>
	</div>
</div>