<div class="bg-main">
	<div class="lead">לגולשים בטלפון, שימו לב שכפתורי ההצבעה נמצאים בצד שמאל ויכול להיות שיהיו מוסתרים</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">השם המוצע</th>
				<th scope="col">מציע השם</th>
				<th scope="col">קבוצה</th>
				<th scope="col">סיבה</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let document of info">
				<th scope="row" style="direction:ltr;">{{ document.rating }}</th>
				<td>{{ document.name }}</td>
				<td>{{ document.author }}</td>
				<td>{{ document.group }}</td>
				<td>{{ document.reason }}</td>
				<ng-container *ngIf="checkNotSelf(document.id)">
					<ng-container *ngIf="checkNotVoted(document.id)">
						<td><button type="button" (click)="vote(document.id)" class="btn btn-primary"><fa-icon [icon]="faThumbsUp" size="lg"></fa-icon></button></td>
					</ng-container>
					<ng-container *ngIf="!checkNotVoted(document.id)">
						<td><button type="button" (click)="unvote(document.id)" class="btn btn-warning"><fa-icon [icon]="faThumbsDown" size="lg"></fa-icon></button></td>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="!checkNotSelf(document.id)">
					<td><button type="button" (click)="delete(document.id)" class="btn btn-danger"><fa-icon [icon]="faTrashAlt" size="lg"></fa-icon></button></td>
				</ng-container>
			</tr>
		</tbody>
	</table>
</div>